* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html{
  background-color: #291b15;
}

body, input, button {
  background-color: #FFF6EF;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  overflow-x: hidden;
  /* background-color: #FFF6EF; */
 -webkit-font-smoothing: antialiased;
}

button {
 cursor: pointer;
}

.red{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
  scrollbar-width: none;
  
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100dvh;
  /* opacity: 70%; */

  background-image: url('images/cover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: red; */

  transform: translateY(0%);
  transition: transform 0.5s ease-out;
}

.red-open{
  transform: translateY(-100%);
}

.red-sub{
  text-align: center;
}

.red-sub > p{
  font-family: playball;
  font-size: 3rem;
}

.btn-amplop{
  padding: 1rem;
  border: 0;
  border-radius: 3px;
  background-color: #291b15;
  color: aliceblue;
}


/*! blue area */

.blue{
  visibility: hidden;
  /* opacity: 80%; */
  /* top: 1rem; */
  /* position: absolute; */
  width: 80%;
  height: max-content;
  background-image: url('images/area-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.blue-div{
  padding-top: 8rem;text-align: center;
}

.blue-mempelai{
  font-family: Playball;font-size: 3rem;padding-top: 3rem;margin-bottom: 1rem;
}

.blue-savethedate{
  font-family: Playball;font-size: 2rem;padding-top: 3rem;margin-bottom: 1rem;
}

.blue-img{
  width: 8rem;padding-top: 4rem;
}

/*! green area */

.green{
  top: 18rem;
  visibility: hidden;
  /* position: absolute; */
  width: 80%;
  height: max-content;
  background-image: url('images/area-2.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
}

.green-female{
  font-family: Playball;font-size: 2rem;
}

.green-dengan{
  font-family: playball;font-size: 1.5rem;
}

.green-img{
  width: 9rem;
}

.salam{
  padding-top: 12rem;font-family: Playball;font-size: 1.5rem;
}

#wave_1{
  visibility: hidden;
}


/*!!! yellow area */

.yellow{
  visibility: hidden;
  top: 18rem;
  /* position: absolute; */
  width: 80%;
  height: max-content;
  background-image: url('images/area-1.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
}

.indahnya_hari{
  padding-top: 10rem;font-family: Playball;font-size: 1.5rem;
}

/*!!!! brown area */

.brown{
  visibility: hidden;
  /* margin-bottom: 12rem; */
  top: 18rem;
  /* position: absolute; */
  width: 80%;
  height: max-content;
  background-image: url('images/area-end.jpg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  /* text-align: center; */
  /* text-align: left; */
}

.brown-pro{
  padding-top: 4rem;color: #5A4447;text-align: center;
}

.brown-point-pro1{
  text-align: center;display: flex;justify-content: space-around;font-size: 0.8rem;
}

.brown-point-pro2{
  text-align: center;display: flex;justify-content: space-around;padding-bottom: 15rem;font-size: 0.8rem;
}


/*!!!! Gallery Area */

.gallery{
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5rem;
  background-color: #5A4447;
  font-family: Playball;
  color: aliceblue;
  text-align: center;
  width: 80%;
}

.galeri_foto{
  padding-bottom: 2rem;
  font-size: 2rem;
}


.wave_2{
  visibility: hidden;
}
.wave-akhir{
  position: relative;width: 80%;margin-bottom: -1rem;margin-top: -4rem ;
}

.quotes{
  visibility: hidden;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: #695457;
  color: aliceblue;
  text-align: center;
  font-size: 1rem;
  width: 80%;
}

/*!!! area end */

.end{
  visibility: hidden;
  margin-top: 6rem;
  text-align: center;
  color: #5A4447;
  height: 100vh;
  width: 80%;
  background-image: url('images/area-end.jpg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.kotak-1{
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 16px;
  color: aliceblue;
  padding: 1rem;
  background-color: #5A4447;
}

.kotak-1_sub{
  font-family: Playball;font-size: 1.5rem;color: #D4A989;
}

.kotak-2{
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 16px;
  color: aliceblue;
  padding: 1rem;
  background-color: #5A4447;
}


.kotak-3{
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 16px;
  color: aliceblue;
  padding: 1rem;
  background-color: #5A4447;
}

.figura-akhir{
  visibility: hidden;
  width: 100%;
  position: absolute;
  bottom: -15px;
}

.master{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.warning{
display: none;
}

@media (min-width:600px ) {
  body{
    position: relative;
    background-color: aliceblue;
    color: #291b15;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .master{
    visibility: hidden;
  }

  .warning{
    position: absolute;
    display: block;
    /* font-size: 4rem; */
    color: #291b15;
  }
}